.about-us {
  text-align: center;
  margin-top: 50px;
}

.about-us h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}